.login{
    background: url(../img/login.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inner{
    background-color: $content-bg-color;
}

